<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
	<link rel='stylesheet' href='/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    		var socket = io.connect();
    		socket.on('display_word',function(data){
    			$('#disRandWord').html(data.word)
    			$('#triesRemaining').html(String(data.tries))
    		})
    		$('#guessButton').click(function(){
    			let guess = document.getElementById('guess').value
    			console.log(guess)
    			$('#guess').val('')
    			socket.emit('guess_made',guess)
    		})
    		$('#resetButton').click(function(){
    			$('#resetButton').toggle()
    			$('#guessButton').toggle()
    			socket.emit('new_game')
    		})
    		socket.on('game_over',function(){
    			$('#resetButton').toggle()
    			$('#guessButton').toggle()
    		})
    		socket.on('correct_guess', function(placehold){
    			$('#placeholder').html(placehold)
    		})
    	});
    </script>
</head>
<body>
	<div id="wrapper">
		<div id="disRandWord">
			<h1 id="placeholder"></h1>
		</div>
		<div>
			<h2 id="triesRemaining"></h2>
		</div>
		<div>
			<input type="text" id="guess" name="guess" placeholder="Single letter only">
			<button id="guessButton">Submit guess</button>
			<button id="resetButton">Reset Game</button>
		</div>
	</div>
	
</body>
</html>